Django>=5.0
psycopg2-binary
django-allauth
Pillow
gunicorn
python-dotenv
whitenoise
httpx
websockets
requests
pyjwt
cryptography
django-csp
django-two-factor-auth
qrcode
django-paypal
django-recaptcha
stripe
